In [1]:
import pandas as pd

In [2]:
test_data = pd.read_excel('dataset/test_data_0_406.xlsx')

In [4]:
len(test_data)

69484

In [5]:
test_data.head()

,id,name,description,profession_id
0,14084,Менеджер по продажам смазочных материалов,<p><em><strong>Казахстанская</strong><strong> ...,0
1,14098,Менеджер по продажам,<p>ТОО АВИАПРОМСТАЛЬ - один из крупнейших пост...,0
2,14103,Менеджер по развитию сети (электроника),<p><strong>Возглавьте</strong> команду продаж ...,0
3,14104,Супервайзер альтернативного канала продаж (МТС),<strong>Обязанности:</strong> <ul> <li>Основна...,0
4,14111,Супервайзер отдела доставки,<p><strong>Обязанности:</strong></p> <ul> <li>...,0

In [7]:
test_data.rename(columns={'profession_id': 'class'}, inplace = True)

In [9]:
test_data['class'].value_counts().sort_index().index

Index([  0,   1,  13,  14,  15,  16,  17,  18,  22,  45,  67,  84,  86,  87,
        88,  89,  91,  92,  95,  96,  97, 100, 101, 102, 103, 105, 106, 107,
       108, 109, 110, 117, 121, 125, 141, 142, 143, 144, 145, 152, 154, 156,
       164, 184, 188, 190, 193, 199, 204, 206, 229, 233, 238, 239, 240, 241,
       245, 246, 247, 249, 257, 258, 274, 277, 300, 302, 303, 305, 306, 313,
       316, 317, 319, 320, 321, 325, 329, 331, 353, 354, 356, 365, 368],
      dtype='int64', name='class')