In [2]:
import pandas as pd

In [3]:
df_81 = pd.read_excel('dataset/train_0_406.xlsx')

In [6]:
df_81['class'].value_counts().sort_index().index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81],
      dtype='int64', name='class')

In [301]:
index = df_81['class'].value_counts()

In [302]:
index = index[index < 200]

In [303]:
df_81

class
72    199
71    199
70    199
38    199
41    198
75    198
52    196
73    196
42    195
69    192
45    131
59    131
49    129
48     89
55      1
Name: count, dtype: int64

In [425]:
# index = index.index
not_available = ['45', '59', '49', '48', '5']

In [424]:
df = df_81[~df_81['class'].isin(not_available)]

In [307]:
df[df['cnt']>200]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, id, name, description, class, cnt, response]
Index: []

In [216]:
analythics_meaning = df[df['response'].str.contains('аналитический склад ума', case=False, na=False)]

In [219]:
analythics_meaning[['name', 'class']].head(60)

                                                   name  class
6                           Младший финансовый аналитик      0
19                         Финансовый менеджер-аналитик      0
46                                  Финансовый аналитик      0
62                                  Финансовый аналитик      0
76                                  Финансовый аналитик      0
89                                  Финансовый аналитик      0
96                                  Финансовый менеджер      0
99                         Финансовый менеджер-аналитик      0
106                                 Финансовый аналитик      0
109                                 Финансовый аналитик      0
118                                 Финансовый аналитик      0
129                                 Финансовый менеджер      0
147                                 Финансовый менеджер      0
158                                 Финансовый менеджер      0
178                                 Финансовый менеджер      0
182                                 Финансовый аналитик      0
184     Финансовый аналитик в дистрибьюторскую компанию      0
213                                  Экономист-аналитик      1
222                                  Экономист-аналитик      1
226                                  Экономист-аналитик      1
227                                  Экономист-аналитик      1
243                      Экономист-аналитик (финансист)      1
244                                  Экономист-аналитик      1
257                      Экономист-аналитик (финансист)      1
265                                  Экономист-аналитик      1
268                                  Экономист-аналитик      1
275                      Экономист-аналитик (финансист)      1
283                                  Экономист-аналитик      1
285                                  Экономист-аналитик      1
294                             Аналитик-макроэкономист      1
303                                  Экономист-аналитик      1
305                                  Экономист-аналитик      1
306                      Экономист-аналитик (финансист)      1
318                                Экономист - аналитик      1
334                                  Экономист-аналитик      1
355                                  Экономист-аналитик      1
379   Аналитик продаж (финансово-экономического отдела)      1
380                        Аналитик/Финансист-Экономист      1
401                                  Экономист-аналитик      1
414   Экономист-аналитик в Дирекцию продаж и маркетинга      1
417                                  Экономист-аналитик      1
431                                  Экономист-аналитик      1
436    Аналитик-экономист планово-экономического отдела      1
437                                  Экономист-аналитик      1
439                                  Экономист-аналитик      1
624                                Бухгалтер по налогам      2
1341                                          Фармацевт      5
1821            Администратор стоматологической клиники      7
3339                          Медицинский представитель     14
3608                   Администратор ресторана доставки     15
3682                   Администратор ресторана доставки     15
3683                            Администратор ресторана     15
3689                            Администратор ресторана     15
4120  Менеджер отдела продаж в гостинице / sales man...     17
4224                                         Архивариус     18
4339                                         Архивариус     18
6072                               Бухгалтер по импорту     26
6103                                 Бухгалтер-оператор     26
6200                                  Младший бухгалтер     26
6231                  Переводчик / менеджер по закупкам     27

In [ ]:
analythics_meaning[['name', 'class']].head(60)

In [221]:
rec = analythics_meaning.loc[4339]

In [237]:
df_sum = df['class'].value_counts()

In [238]:
len(df_sum)

67

In [317]:
from tqdm.notebook import tqdm
tqdm.pandas()

In [309]:
from natasha import Doc, Segmenter, NewsMorphTagger, NewsEmbedding, MorphVocab

In [310]:
morph = MorphVocab()

In [311]:
segmenter = Segmenter()
emb = NewsEmbedding()
morph_tagger = NewsMorphTagger(emb)
morph_vocab = MorphVocab()

In [313]:
import pymorphy3

In [314]:
pymorph = pymorphy3.MorphAnalyzer()

In [326]:
def lemmatize_natasha(responce):
    doc = Doc(responce)
    doc.segment(segmenter)
    doc.tag_morph(morph_tagger)

    lemmatized_words = []
    for token in doc.tokens:
        token.lemmatize(morph_vocab)
        lemmatized_words.append(token.lemma)
    return ' '.join(lemmatized_words)

def lemmatize_pymorphy(responce):
    words = responce.split()
    lemmatized_words = [morph.parse(word)[0].normal_form for word in words]
    return ' '.join(lemmatized_words)

In [449]:
len(df)

17641

In [451]:
kz_letters = ['ә', 'ғ', 'қ', 'ң', 'ө', 'ұ', 'ү', 'һ', 'і']

In [452]:
df_ru = df_ru[~df_ru['response'].str.contains('|'.join(kz_letters), case = False, na=False)] ## extract kz rows

In [474]:
not_available = [45, 59, 49, 48, 5, 55]

In [467]:
len(df_ru)

17622

In [475]:
df_3 = df_ru[~df_ru['class'].isin(not_available)]

In [469]:
len(df_2)

719

In [476]:
len(df_3) ## with +200 rows

16902

In [485]:
df_3.head()

,Unnamed: 0.1,Unnamed: 0,id,name,description,class,cnt,response,natasha_response
0,0,0,13246,Финансовый аналитик,обязанности организовывает управление движение...,0,153,организовывает управление движением финансовых...,организовывать управление движение финансовый ...
1,1,1,14266,Финансовый менеджер,обязанности составление бюджета доходов бюджет...,0,127,"Составление бюджета доходов и расходов, контро...","составление бюджет доход и расход , контроль и..."
2,2,2,14674,Финансовый аналитик,уважаемый кандидат компания alem sauda ltd рад...,0,168,Разработка и внедрение внутренних регламентиру...,разработка и внедрение внутренний регламентиро...
3,3,3,15042,Старший финансовый аналитик,требования высшее финансовое экономическое обр...,0,149,Осуществлять работу экономическому планировани...,осуществлять работа экономический планирование...
4,4,4,16179,Финансовый аналитик на проект Sandyq,обязанности формирование управленческой отчетн...,0,125,"формирование управленческой отчетности, анализ...","формирование управленческий отчетность , анали..."

In [483]:
df_3['natasha_response'] = df_3['response'].progress_apply(lambda x: lemmatize_natasha(x))

  0%|          | 0/16902 [00:00<?, ?it/s]

/tmp/ipykernel_10918/1341141726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['natasha_response'] = df_3['response'].progress_apply(lambda x: lemmatize_natasha(x))

In [486]:
df_3['natasha_response'][55]

'расшифровка показатель , составление отчет о результат деятельность компания , оценка риск , сбор данные , составление плана-факт анализ , помощь в составление бюджет , работа с банк , помощь финансовый контролер . высокий финансовый или экономический образование , отличный знание ms excel , опыт работа менее год в составление финансовый , управленческий , отдельный и консолидированный отчетность , знание бухгалтерский и налоговый учет , опыт бюджетирование и планирование .'

In [491]:
df_3 = df_3[['id','name','description','response','natasha_response','class']]

In [498]:
df_3['class'].value_counts().sort_index()

class
0     210
1     232
2     215
3     223
4     233
6     243
7     242
8     238
9     210
10    236
11    247
12    237
13    215
14    249
15    245
16    222
17    230
18    231
19    237
20    225
21    236
22    227
23    219
24    213
25    240
26    231
27    210
28    216
29    236
30    242
31    234
32    232
33    241
34    203
35    209
36    203
37    226
38    199
39    223
40    228
41    198
42    195
43    232
44    246
46    230
47    212
50    202
51    202
52    196
53    218
54    229
56    210
57    214
58    231
60    245
61    214
62    225
63    242
64    227
65    220
66    225
67    206
68    231
69    192
70    198
71    199
72    199
73    196
74    230
75    198
76    214
77    231
78    226
79    225
80    232
81    224
Name: count, dtype: int64

In [502]:
df_3['response'][0]

'организовывает управление движением финансовых ресурсов, регулирование финансовых отношений, разработку нормативов оборотных средств, ведение учета движения финансовых средств, составление отчетности, контроль правильности составления и своевременности предоставления отчетной документации, рациональное обеспечение денежных средств компании, минимизация расходов. высшее финансовое экономическое образование, стаж работы в области финансовой деятельности не менее 3 лет, опытный пользователь ПК MS Office, знание Excel обязательно.  \n'

In [503]:
df_3.to_csv('81_cat_1version.csv') ## first version witout any tf, ner or smth

In [504]:
data = [
    210, 232, 215, 223, 233, 243, 242, 238, 210, 236, 247, 237, 215, 249, 245, 222, 
    230, 231, 237, 225, 236, 227, 219, 213, 240, 231, 210, 216, 236, 242, 234, 232, 
    241, 203, 209, 203, 226, 199, 223, 228, 198, 195, 232, 246, 230, 212, 202, 202, 
    196, 218, 229, 210, 214, 231, 245, 214, 225, 242, 227, 220, 225, 206, 231, 192, 
    198, 199, 199, 196, 230, 198, 214, 231, 226, 225, 232, 224
]

In [505]:
len(data)

76

In [508]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [509]:
import re
from nltk.tokenize import RegexpTokenizer
from bs4 import BeautifulSoup as bs

In [511]:
def preprocess(sentence):
    soup = bs(sentence, features="html.parser")
    sentence = soup.get_text()
    soup = bs(sentence, features="html.parser")
    sentence = soup.get_text()

    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}',"")
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url = re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)
    filtered_words = [w for w in tokens if not w in stopwords.words('russian')]

    return " ".join(filtered_words)

In [512]:
df_3['natasha_response_stopwords'] = df_3['natasha_response'].progress_apply(lambda x:preprocess(x))

  0%|          | 0/16902 [00:00<?, ?it/s]

/tmp/ipykernel_10918/4234330403.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = bs(sentence, features="html.parser")
/tmp/ipykernel_10918/4234330403.py:4: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = bs(sentence, features="html.parser")
/tmp/ipykernel_10918/1609806462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['natasha_response_stopwords'] = df_3['natasha_response'].progress_apply(lambda x:preprocess(x))

In [507]:
df_3['natasha_response'][0]

'организовывать управление движение финансовый ресурс , регулирование финансовый отношение , разработка норматив оборотный средство , ведение учет движение финансовый средство , составление отчетность , контроль правильность составление и своевременность предоставление отчетный документация , рациональный обеспечение денежный средство компания , минимизация расход . высокий финансовый экономический образование , стаж работа в область финансовый деятельность не менее 3 год , опытный пользователь пк ms office , знание excel обязательно .'

In [513]:
df_3['natasha_response_stopwords'][0]

'организовывать управление движение финансовый ресурс регулирование финансовый отношение разработка норматив оборотный средство ведение учет движение финансовый средство составление отчетность контроль правильность составление своевременность предоставление отчетный документация рациональный обеспечение денежный средство компания минимизация расход высокий финансовый экономический образование стаж работа область финансовый деятельность менее год опытный пользователь пк ms office знание excel обязательно'

In [514]:
df_3.to_csv('81_cat_1version.csv')

In [527]:
df_3['class'].value_counts().sort_index().index

Index([ 0,  1,  2,  3,  4,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 50, 51, 52, 53, 54, 56, 57, 58,
       60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81],
      dtype='int64', name='class')

In [528]:
from sklearn.preprocessing import LabelEncoder

In [529]:
encoder = LabelEncoder()

In [530]:
df_3['class'] = encoder.fit_transform(df_3['class'])

/tmp/ipykernel_10918/18624745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['class'] = encoder.fit_transform(df_3['class'])

In [531]:
df_3['class'].value_counts().sort_index().index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75],
      dtype='int64', name='class')

In [532]:
df_3.to_csv('81_cat_1version.csv')